.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}





.x{
    color: white;
    text-align: center;
}
.y{
    text-align: center;
    background-color: rgb(85, 220, 220);
    border: 3px solid black;
    border-radius: 4px;
    
}
.btn:hover{
    background-color: black;
    color: white;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: rgb(255, 163, 4);
}
.phone{
    padding-left: 190px;
}
.enjoy{
    padding-top: 178px;
    padding-left: 146px;
}
.About{
    height: 500px;
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
    border: 0.5px solid white;
    padding-top: 130px;
    padding-left: 50px;
    padding-right: 50px;
}
.bacground{
    width: 100%;
    height: 500px;
    padding-top: 200px;
    padding-left: 100px;
    border: 0.5px solid white;
    background-color: aliceblue;
    color: rgb(0, 217, 255);
}
.p2{
    width: 100%;
    height: 80px;
    text-align: center;
    border: 0.5px solid white;
    background-color: aliceblue;
    color: rgb(0, 217, 255);
}
.himalaya{
    width: 100%;
    height: 500px;
    padding-top: 200px;
    padding-left: 100px;
    border: 0.5px solid white;
    background-color: rgb(12, 122, 211);
    color: rgb(0, 0, 0);

}


.form-background {
    background-image: url(/images/form-covers/flights-form-cover.jpg);
    min-height: 530px;
}
.form-background {
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
    width: 100%;
    background-color: #4682b4;
}



.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}
.h{
    padding-bottom: 200px;
}
.hover:hover{
   
    border: 1px solid rgb(254, 254, 254);
    background-color: rgb(255, 163, 4);
    /* box-shadow: 10px 5px 5px rgb(179, 180, 181); */
}
.navbar-nav .dropdown-menu{
    position: relative;

}